.projects-container {
  /* padding: 1rem; */
  border-radius: 1rem;
  margin: 0 13%;
  width: 100%;
  /* height: 100%; */
}

.individual-project {
  margin: 1.5rem;
  border-radius: 1rem;
  box-shadow: rgba(76, 76, 185, 0.2) 0px 7px 29px 0px;
}

.project-info {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.project-section-tags {
  font-size: 1rem;
  display: inline-block;
  align-self: flex-start;
}

.project-section-title {
  font-size: 1.5rem;
  display: inline-block;
  text-align: center;
  transform: translateY(1rem);
  margin: auto;
}

.project-date {
  font-size: 0.85rem;
  font-weight: 400;
  transform: translateY(1.5rem);
}

.project-section-languages {
  display: flex;
  list-style: none;
  padding: 1rem;
}
.project-section-languages li {
  margin: 0 0.5rem;
}

.project-section-languages li span {
  background-color: #c0e4cc;
  position: relative;
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  left: -10px;
}
