/* Create Project Section  */

.create_projects_main{
    width: 100%;
    height: 100%;
}
  
  .create_projects_main .project_card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    min-width: 20vw;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  .create_projects_main .project_card form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  .create_projects_main .project_card form .deadline_section{
    margin: 1rem 0 0 0;
    display: flex;
    width: 100%;
    /* background-color: aqua; */
    align-items: center;
    justify-content: space-between;
  }
  .project_card form .deadline_section .date{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .project_card form label{
    padding: 0.7rem 0;
  }
  
  .project_card form .deadline_section .tags{
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .create_projects_main .project_card form input[type='date'],.project_card form input[type='text'], .project_card form input[type='email']{
    background-color: white;
    border-radius: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    background-color: #f7f7f7;
    font-weight: 500;
    color: black;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 0.9rem;
  }

  .create-button{
    text-align: center;
    margin: 1rem;
  }

  .project_card form input[type='submit']{
    padding: 0.5rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    background-color: #323ee2;
  }
  .project_card .add-button{
    position: absolute;
    top: 74%;
    left: 77%;
    background-color: white;
    color: black;
    font-size: 0.9rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border: none;
    border-radius: 0.2rem;
    transition: all 0.2s linear;
  }
  .project_card .update{
    top: 66%
  }
  .project_card .add-button:hover{
    transform: scale(1.05);
    cursor: pointer;
    font-size: 1.05 * 0.9rem;
  }

  .project_card .member-card{
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-inline-start: 0;
    align-items: center;
  }
  .member-card li{
    position: relative;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-in-out;
  }
  .member-card li img{
    width: 30px;
    border-radius: 50%;
  }
  
  .member-card li button{
    background-color: #f2f2f2;
    cursor: pointer;
    color: black;
    font-weight: 600;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 2%;
    right: 0%;
  }
  .member-card li:hover{
    transform: scale(1.01);
  }