.file--hero{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* position: fixed; */
}
.file--hero .top-file-section{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.top-file-section button{
    display: flex;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    align-items: center;
    padding: 0.6rem 1rem;
    margin-left: auto;
    background-color: blueviolet;
    color: white;
    transition: all 0,2s linear;
}
.top-file-section button:hover{
    transform: scale(1.01);
    background-color: #B284BE;
}

.file--hero .recent-file-section ul{
    /* height: 100%; */
    display: flex;
}
.recent-file-section ul li{
    display: flex;
    font-weight: 500;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    border-radius: 1rem;
    margin: 1.2rem;
    width: 17%;
    background-color: #f9f9fb;
    transition: all 0.3s linear;
}
.recent-file-section ul li:hover{
    transform: scale(1.03);
    cursor: pointer;
    background-color: #f3f3f7;
}
.recent-file-section ul li img{
    width: 10rem;
}
.all-file-section{
    display: flex;
    flex-direction: column;
}
.all-file-section ul{
    display: flex;
    padding: 1rem ;
    border-bottom: 1px solid #f9f9fb;
}

.all-file-section ul li{
    display: flex;
    width: 100%;
    text-align: center;
    color: #9f9f9f;
}

.all-file-section ul li img{
    width: 2rem;
}

.all-file-section ul .file--name{
    display: flex;
    align-items: center;
    /* width: 100%; */
    /* justify-content: space-between; */
}

.all-file-section ul .file--name img{
    padding: 0 1rem;
}
.all-file-section .file-items:hover{
    background-color: #f9f9fb;
    cursor: pointer;
}