.profilepage-container {
  display: flex;
  background-color: rgb(247, 244, 244);
  height: 100vh;
}

.profile-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cover-image {
  height: 8rem;
  object-fit: cover;
}

.picture-section img {
  float: left;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  transform: translateY(-2rem);
  margin: 0 2rem 0 5rem;
  padding: 5px;
  background-color: #fcfcfc;
  object-fit: cover;
}

.picture-section h2 {
  margin-top: 1rem;
}

.profile-navbar-section {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-4rem);
}

.projects-button {
  font-size: 1rem;
  line-height: 1.375rem;
  padding: 0.75rem 2rem;
  background-color: rgb(247, 244, 244);
  margin: 0 2rem;
  border: none;
}

.active {
  border: none;
  border-bottom: 4px solid black;
}

.component-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  transform: translateY(-4rem);
}
