.profilepage-container {
  display: flex;
  /* height: 80vh; */
  /* overflow: hidden; */
}


.profile-section {
  background-color: #fcfcfc;
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 100%;
}

.cover-image {
  height: 7rem;
  object-fit: cover;
}

.picture-section img {
  float: left;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  z-index: 1;
  transform: translateY(-2.5rem);
  margin: 0 2rem 0 3rem;
  padding: 5px;
  background-color: #fcfcfc;
  object-fit: cover;
}

.picture-section h2 {
  margin-top: 1rem;
}

.picture-section h4 {
  clear: left;
  margin-left: 3rem;
  transform: translateY(-1.5rem);
}

.projects-section {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15rem;
  transform: translateY(-3rem);
}

.projects-button {
  font-size: 1rem;
  line-height: 1.375rem;
  padding: 0.75rem 0.75rem;
  background-color: white;
  margin: 0 2rem;
  border: none;
}

.active {
  border: none;
  border-bottom: 4px solid black;
}

.component-container {
  background-color: #fcfcfc;
  transform: translateY(-1.5rem);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
