#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 0.1rem;
  margin: 0 5%;
  height: 100%;
}
.gray{
  margin: 0.4rem;
  font-size: 0.8rem;
  color: #a2a2a2;
}
.navBar .nav-elements{
  display: flex;
  padding: 0 0.8rem;
  align-items: center;
  width: 100%;
  /* background-color: antiquewhite; */
  justify-content: space-between;
}
.navBar .nav-elements h1{
  cursor: pointer;
}
.navBar .nav-elements ul{
  display: flex;
  /* background-color: aquamarine; */
  justify-content: space-between;
}
.navBar .nav-elements ul li{
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  margin-right: 0.8rem;
  color: black;
}
.navBar .nav-elements ul li:hover{
  cursor: pointer;
  scale: 1.1;
  transition: 0.5s all ease;
}
ul li{
  text-decoration: none;
  list-style: none;
}
.navBar .nav-elements ul li i{
  font-size: 1.5rem;
}
/*Landing Page Css */
.landingNav button{
  padding: 1rem 6rem;
  border-radius: 1.8rem;
  color: white;
  font-size: 1.2rem;
  background-color: #3e4684;
}

.modal--hero{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: fit-content;
  background-color: transparent;
  padding: 5rem;
  border-radius: 0.5rem;
  z-index: 1000;
}
.modal--overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
  backdrop-filter: blur(5px);
  z-index: 1000;
}
.modal--hero .close-button{
  background: transparent;
  z-index: 10000;
  border: none;
  cursor: pointer;
  color: black;
  position: absolute;
  top: 23%;
  left: 83%;
}

input[type=date]::-webkit-calendar-picker-indicator {
  background-color: #a2a2a23d;
  cursor: pointer;
  border-radius: 0.3rem;
  font-size: 1.5rem;
}
::-webkit-datetime-edit-fields-wrapper{
  background-color: white;
}
::-webkit-datetime-edit-fields-wrapper:hover::-webkit-datetime-edit-day-field {
  background-color: #eee;
}