#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 0.1rem;
  margin: 0 5%;
}
.navBar .nav-elements{
  display: flex;
  padding: 0 0.8rem;
  align-items: center;
  width: 100%;
  /* background-color: antiquewhite; */
  justify-content: space-between;
}
.navBar .nav-elements h1{
  cursor: pointer;
}
.navBar .nav-elements ul{
  display: flex;
  /* background-color: aquamarine; */
  justify-content: space-between;
}
.navBar .nav-elements ul li{
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  margin-right: 0.8rem;
}
.navBar .nav-elements ul li:hover{
  cursor: pointer;
  scale: 1.1;
  color: black;
  transition: 0.5s all ease;
}
ul li{
  text-decoration: none;
  list-style: none;
}
.navBar .nav-elements ul li i{
  font-size: 1.5rem;
}
