.explore-section-hero{
    display: flex;
    flex-direction: column;
    margin: 0 2%;
}
.explore-section-hero {
    display: flex;
    flex-direction: column;
}
.explore-section-hero .projects-grid{
    display: grid;
    /* width: 100%; */
    grid-template-columns: repeat(4,4fr);
    grid-gap: 5rem;
}
.explore-section-hero .data-list{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 0.8rem;
}
.data-list .image-data{
    height: 80%;
}
.data-list .star--project{
    position: fixed;
    margin: 0.8rem;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    transition: all 0.3s linear;
}
.data-list .star--project:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.image-data img{
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    width: 100%;
    cursor: pointer;
    height: 100%;
}
.data-list .info{
    height: 20%;
    display: flex;
    align-items: center;
    color: black;
}
.data-list .info p{
    margin: 0 2rem;
}
.data-list .info .name{
    font-size: 1.3rem;
    font-weight: 600;
}
.info .members{
    margin-left: auto;
}
.info span{
    display: flex;
    color: black;
}
.info span img{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border-radius: 50%;
}
hr{
    color: grey;
    width: 100%;
}