.heatmap-container {
  display: flex;
  flex-direction: column;
}

.month-labels {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px; /* Set a consistent width for alignment */
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #666;
  gap: 2.8%;
}

.weeks {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 700px; /* Match width with month labels */
  gap: 5px; /* Reduce gap for compact look */
}

.week {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.day {
  width: 12px;
  height: 12px;
  margin: 0;
  border-radius: 2px;
  transition: background-color 0.2s ease, transform 0.2s ease;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

}

.day:hover {
  cursor: pointer;
  background-color: #555;
  transform: scale(1.1);
}

.legend {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
  font-size: 12px;
  width: 60%;
  padding: 0 5px;
  color: #666;
}

.legend-text {
  font-size: 12px;
  color: #666;
  margin: 0 4px;
}

.color-blocks {
  display: flex;
  gap: 4px; /* Space between color blocks */
}

.color-block {
  width: 10px;
  height: 10px;
  border-radius: 2px; /* Rounded corners for a nice look */
}

.color-block-1 {
  background-color: #f2a7e5; /* Least activity */
}

.color-block-2 {
  background-color: #e56fd0; /* Slight activity */
}

.color-block-3 {
  background-color: #e147d7; /* Medium activity */
}

.color-block-4 {
  background-color: #bb3fae; /* High activity */
}

.color-block-5 {
  background-color: #9b2e8f; /* Most activity */
}
