.main_box{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px 0 0px;
    /* width: 20rem; */
    width:4rem;
    /* background-color: #FAF9F6; */
    background-color: black;
    /* overflow: hidden; */
    min-height: 100vh;
    /* z-index: 999; */
    transition: width 0.3s;
    border-color: black;
}

.main_box .logo{
    width: 100%;
    height:11rem;
    margin-bottom: 4rem;
    box-sizing: border-box;
}

#logo{
    width: 4rem;
    margin-bottom: 1.5rem;
    margin-top: 28px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
.logo > .text{
    color: white;
}

.inline_text{
    display:none;
    color:white;
    font-size: 0.9rem;
    font-weight: 500;
    width: 100%;
    /* margin-left: 4rem; */
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}

.static_options{
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 0.3rem; */
    width: 100%;
    /* padding: 30px;   */
}

.static_option{
    text-decoration: none;
    color: black;
}

.static_option:last-child{
    margin-bottom: 1rem;
}

.logo span{
    display: none;
}

.icon_text{
    color:white;
    display:flex;
   align-items: center;
   padding: 0.25rem;
   width: 100%;
   /* margin-left: 4rem; */
    /* font-size: 2px; */
}

.icon_text span{
    display:none;
}

.icon{
    padding: 15px;
    color:white;
}

.icon_1{
   font-size: 15px;
}
.dynamic_options{
    width: 100%;
    display:flex;
    flex-direction: column;
    margin-left: 4rem;
}

.dynamic_option{
    text-decoration: none;
    color: black;
    padding: 15px;
}

.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:0.3rem;
    margin-top: auto;
    margin-bottom: 0px;
    max-height:fit-content;
}

.info{
    display:none;
    padding: 0 1.5rem;
    color: white;
}


.line{
    display:block;
    border: 1px solid red;
    width:100%;
    height:1px;
    font-weight: bold;
    background:#0000;
    margin-bottom: 0;
    margin-top:auto;
}


.profile .image img{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin-bottom: 15px;
}

#menu{
    /* margin-right: 35px; */
    font-size: 25px;
    margin-bottom: 20px;
}

/* hr{
    background: black;
    color: black;
    height: 2px;
} */

.main_box:hover{
    width:20rem;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    z-index: 100;
}

.main_box:hover .logo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 3rem;
    align-items: center;
    justify-content: center;
}

.main_box:hover #logo{
    width: 6rem;
    margin:auto;
    background-color: white;
    /* margin-left: 5.5rem;     */
}

.main_box:hover .logo span{
    display:block;
    font-size: 1.9rem;
    margin-left: 0;
}

.main_box:hover .inline_text{
    display: block;
    text-align: center;
    transition: all 0.5s ease-in;
}

.main_box:hover .icon_text span{
    display:block;
}

.main_box:hover .icon_text{
    margin-left: 1rem;
    transition: all 0.25s ease-in;
}

.main_box:hover .info{
    display:block;
}
.main_box:hover .userEmail{
    font-size: 0.8rem;
}

.main_box:hover .logout{
    display:block;
}

.main_box:hover #pp{
    margin-left:2rem;
}

.main_box:hover .profile{
    width: 100%;
}

.icon_text:hover{
    transform: scale(1.05);
}